 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background: #151f28;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 300px;
    width: 300px;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

img{
    transition: .5s ease-in;
    filter: grayscale(100%);
}

img:hover{
    filter: grayscale(0%);
}



