body {
	margin: 0;
	overflow: hidden;
}

canvas {
	background: #151f28;
}

#instructions {
	position: absolute;
	color: #fff;
	bottom: 0;
	padding-bottom: 6px;
	font-family: sans-serif;
	width: 100%;
	text-align: center;
	pointer-events: none;
}