* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Goldman", sans-serif;
  transition: all ease-in 0.2s;
}

body {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3d3d3;
}
.btn {
  width: 250px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-top: 2px solid #fff;
  border-right: 2px solid #00000032;
  border-bottom: 2px solid #00000032;
  border-left: 2px solid #fff;
  border-radius: 50px;
  box-shadow: 5px 5px 15px #00000088, inset -5px -5px 15px #fff,
    inset 5px 5px 15px #fff;
  cursor: pointer;
}
.cam {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  filter: grayscale(60%) blur(2px);
  border-radius: 50px;
}
.btn span {
  z-index: 10;
  font-size: 3rem;
  font-weight: 400;
  color: #454545;
  -webkit-filter: drop-shadow(0 0 1px #f5f5f5c5);
  filter: drop-shadow(0 0 1px #f5f5f5c5);
  pointer-events: none;
}
.btn:hover {
  box-shadow: 0 0 5px #00000000, inset -5px -5px 25px 15px #fff,
    inset 5px 5px 15px 5px #fff;
  border: 2px solid transparent;
}

.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 5;

  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.849) 0%,
    rgba(200, 200, 200, 0.507) 30%,
    rgba(255, 255, 255, 0.345) 60%,
    rgba(150, 150, 150, 0.638) 100%
  );
  mix-blend-mode: screen;
  opacity: 0.8;
}
