        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Bebas+Neue&display=swap');

:root {
  --color-bg: #f6e0d0;
  --color-text: #111111;
}

body {
  margin: 0;
  padding: 0;
  background: var(--color-bg);
  font-family: 'Montserrat', sans-serif;
  color: var(--color-text);
}

.header {
  width: 100%;
  height: 300px;
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: var(--color-text);
}

.header p {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.18em;
  margin: 0;
}

p {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  width: 100%;
  height: 100%;
}

.row {
  width: 100%;
  display: flex;
}

.col {
  height: 100%;
}

.img-container {
  width: fit-content;
  height: 100%;
}

.img-container p {
  position: relative;
  padding: 5px 0;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 26px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  color: var(--color-text);
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.7);
  opacity: 1;
  transition: opacity 0.3s, transform 0.3s;
}

.img-container.left {
  text-align: right;
}

#row-1 { height: 200px; }
#row-2 { height: 500px; }
#row-3 { height: 200px; }
#row-4 { height: 400px; }
#row-5 { height: 700px; }
#row-6 { height: 300px; }
#row-7 { height: 200px; }
#row-8 { height: 600px; }
#row-9 { height: 300px; }
#row-10 { height: 500px; }

.col:nth-child(1) {
  flex: 3;
  display: flex;
  justify-content: flex-end;
}

.col:nth-child(2) {
  flex: 5;
}

.img-container.right img {
  clip-path: polygon(100% 0, 100% 0, 100% 0, 100% 0);
}

.img-container.left img {
  clip-path: polygon(0 0, 0 0, 0 0, 0 0);
}

.whitespace {
  width: 100%;
  height: 300px;
}
